@import "/css/style.css";

.active-link {
  transform: scale(1.05);
  border-bottom: 2px solid var(--teal);
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 700px;
  height: 500px;
  background-color: var(--secondary-offwhite);
  border: 2px solid red;
  border-radius: 20px;
}
