@import "/css/style.css";

h1,
h2,
p,
h3 {
  font-family: var(--main-font);
}

.meditation-hero {
  min-height: 600px;
  height: auto;
  margin: 0;
  padding: 20px;
  background-color: var(--teal);
  color: var(--secondary-offwhite);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.meditation-hero-text {
  margin: 5%;
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  gap: 40px;
  flex: 1;
}
.meditation-hero-text p {
  color: var(--secondary-cyan);
}

.meditation-hero-text h3 {
  color: var(--secondary-offwhite);
}

.meditation-hero-img {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meditation-hero-img img {
  width: 560px;
  height: auto;
}

.meditation-tabs {
  background-color: var(--secondary-offwhite);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 40px;
  flex-wrap: wrap;
  height: auto;
}

.tab {
  background-color: var(--teal);
  height: 300px;
  width: 250px;
  border-radius: 20px;
  padding: 30px;
  color: var(--secondary-offwhite);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tab p {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--secondary-cyan);
}
